* {
    margin: 0;
    padding: 0;
}

html{
    overflow-y: scroll;
}

body {
    background-color: #fff;
    font-family: Arial;
}

.section{
    color: #fff;
    background-color: #222;
    width: 60%;
    height: 500px;
    margin: 10vh auto;
    border-radius: 20px;
}


.subirJS{
    text-align: center;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.subirJS h1{
    margin-top: 40px;
}

.subirJS textarea{
    margin-top: 30px;
    width: 50%;
    height: 60%;
    resize: none;
}

.subirJS textarea:focus{
    outline: none;
}

.subirJS-btns{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subirJS-btns button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.section-btnPDF{
    height: 9%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section-btnPDF button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-right: 30px;
    transition: background-color .5s color .5s;
}

.section-btnPDF button:enabled{
    background-color: red;
    color: #000;

}

.section-btnPDF button:enabled:hover{
    border: 1px solid #922b21;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.mostrarJS {
    width: 80mm;
    height: 80mm;
    outline: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mostrarJS ul {
    list-style: none;
}

.mostrarJS ul li {
    color: #000;
}

.divPedido {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedido {
    color: #000;
    text-align: center;
    font-weight: bold;
}


.divDetalle {
    width: 100%;
    height: 70%;
}


.item {
    text-align: center;
    padding-top: 50px;
    color: #000;
}
